.DS_Store
.placeholder
desktop.ini
*.cfg
include/libs/smarty/templates_c/*
cache/*
configs/*
skins/theme/dtml/it/search/*
skins/theme/dtml/it/single/*
skins/theme/dtml/it/multiple/*
skins/theme/dtml/en/search/*
skins/theme/dtml/en/single/*
skins/theme/dtml/en/multiple/*
skins/system/dtml/it/search/*
skins/system/dtml/it/single/*
skins/system/dtml/it/multiple/*
skins/system/dtml/it/report/*
skins/system/dtml/en/search/*
skins/system/dtml/en/single/*
skins/system/dtml/en/multiple/*
skins/system/dtml/en/report/*
